# MongoDB Connection String
# Local: mongodb://127.0.0.1:27017/campuspulse
# Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/campuspulse
MONGODB_URI=mongodb://127.0.0.1:27017/campuspulse

# Public API Base URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
